# Postgres Configuration
POSTGRES_DB=oqdb
POSTGRES_USER=oquser
POSTGRES_PASSWORD=oqpword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Security Variables
SECRET_KEY=secret-key-here # `openssl rand -hex 32`
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Models
EMBED_MODEL=nomic-embed-text
LLM_MODEL=qwen2.5:1.5b

# Doc data
PDF_LOCATION=./docs
MAX_FILES_UPLOAD=8